*{  margin: 0; 
    padding: 0; 
    font-size: 100%; 
    font-family: 'Georgia', serif ; 
    font-weight: normal;
    box-sizing: border-box;
    border: nome; 
    outline: nome; 
}

img {
    
    max-width: 100%;

}

ul {
    
    list-style: nome;

}

a {
    
    text-decoration: nome;

}

h2{font-size: 1.5em; 
    color: #333; 
    text-align: center;
}

p{font-size: 1em; 
    color: #777;
}

.ipos{left: 40px}
.icafe1{left:30px}
.icafe2{right: 100px}
.corpo{width: 960px; margin:auto;} 
.body{width: 960px; margin:auto;}

/*CABEÇALHO*/
.cabecalho{width: 100%; 
           float: left; 
           padding:10px 8%; 
           background-color: #333 ;
           position : fixed ; 
           top:0; 
           left:0;
}

/*MENU*/
.menu {width: 100%;
    float: right; 
    background-color: #333;
    padding: 10px 5%;
}

.menu li{float: right;}

.menu a {
    color: aliceblue; 
    margin-right: 20px ;
    font-size: 0.5em;
}

/*CABECALHO2*/
.cabecalho2{width: 100%; 
            float: left;
            padding:100px 8%; 
            background-color: antiquewhite ;
}

/*MENU1*/
.menu1 {width: 100%; 
    float: center; 
    background-color: antiquewhite; 
    padding: 10px 5%;
}
.menu1 li{float: left; 
    text-align: center;
}
.menu1 a {color: #333; 
    margin-right: 100px ;
    font-size: 1em;
}
.cabecalho2 form{ width: 30%;
    float:center;
}
.cabecalho2 input[type="text"] {width: 85%;
     float: center;
      padding:15px 10px; 
    }
.cabecalho2 button {width: 15%; 
    float: center; 
    padding:15px 10px; 
    background-color: #333;
}

/*PRINCIPAL*/
.principal{width: 100%; 
    float: center; 
    padding: 20px 8%
}
.sobre {width: 70%; 
    float: left; 
    padding: 0 20px 20px 0;
}
.sobre img{ width: 50%; 
    float: left; 
    border-radius: 5px; 
    margin: 0 15px 15px 0;
}
.sobre p {text-align: justify;
}
.principal form{ width: 30%;
    float:right;
}
.principal input[type="text"] {width: 85%; 
    float: right; 
    padding:15px 10px; 
}
.principal button {width: 15%; 
    float: right; 
    padding:15px 10px; 
    background-color: #333;
}

/*NEWSLETTER*/
.cabecalho3{width: 100%; 
    float: left; 
    padding:20px 8%; 
    background-color: antiquewhite ;
}
.cabecalho3 form{ width: 30%;
    float:right;
}
.cabecalho3 input[type="text"] {width: 85%; 
    float: right; padding:15px 10px; 
}
.cabecalho3 button {width: 15%; 
    float: right; 
    padding:15px 10px; 
    background-color: #333;
}

/*rodape*/
.footer {
    width: 100%;
	background: burlywood;
	padding: 40px 0;
}
